.container {
  position: relative;
}

.logoContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
  width: 76px;
  height: 76px;
  margin: 0 auto;
  border-radius: 9999px;
  transition: all 0.25s cubic-bezier(0.16, 1, 0.3, 1);
}

.logoContainerCollapsed {
  width: 48px;
  height: 48px;
  margin: 2px auto;
}

.logoContainer img {
  filter: drop-shadow(0 0 8px rgba(250, 250, 250, 0.4));
  object-fit: contain;
  transition: all 0.25s cubic-bezier(0.16, 1, 0.3, 1);
}

.loader {
  display: grid;
  height: 100%;
  place-content: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}
