.containerModal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.23);
  z-index: 2000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-content: center;
}

.containerSale {
  background-color: #ffff;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
  margin: 0px;
}

@media (min-width: 400px) {
  .containerSale {
    width: 390px;
  }
}

@media (min-width: 500px) {
  .containerSale {
    width: 490px;
  }
}

@media (min-width: 600px) {
  .containerSale {
    width: 590px;
  }
}

@media (min-width: 768px) {
  .containerSale {
    width: 750px;
  }
}

.title {
  font-family: "Montserrat";
  font-size: x-large;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: #5e68ff;
}

.closeModalContainer {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}

.close {
  font-weight: 600;
  color: #4953f6;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s ease;
}

.close:hover {
  color: #ffcf4c;
  transition: 0.2s ease;
}

.containerBuscarDocente {
  display: flex;
  gap: 10px;
}

.inputNombresDni {
  background-color: #e4eefd;
  width: 100%;
  padding: 10px;
  border: 1px solid #cae1fd;
  border-color: #3ABEF9;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #3572EF;
}

.inputNombresDni:focus {
  outline: none;
  border-color: #a7e6ff;
}

.buscarDocentebutton {
  background-color: #ffcf4c;
  border-radius: 3px;
  height: 47px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: monospace;
  font-weight: 600;
  cursor: pointer;
  color: #5f5f5f;
  box-shadow: #00f7ff;
  transition: 0.5s ease;
}

.buscarDocentebutton:hover {
  background-color: #4cccff;
  color: #ffff;
}

.textAreaPregunta {
  padding: 10px;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 100%;
  color: #72717e;
  height: 150px;
}

.containerPregunta {
  height: 130px;
}

.tituloPregunta {
  color: #1F6E8C;
  font-size: 20px;
  text-transform: uppercase;
}

.containerPreguntasAlternativas {
  display: grid;
  gap: 5px;
}

.containerAlternativas {
  display: flex;
  gap: 5px;
}

.alternativa {
  text-transform: uppercase;
  color: #578FCA;
  font-weight: bold;
}

.radio {
  /* Estilos del radio button */
}

.descripcion {
  color: #344CB7;
  text-transform: uppercase;
}

.respuestas {
  display: grid;
  margin-right: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #b4b4b5;
}

.buttonCrearEvaluacion {
  background: #4953f6;
  width: 100px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  color: #ffff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s ease;
}

.buttonCrearEvaluacion:hover {
  background: #f9b72c;
  transition: 0.5s ease;
}
