.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 50;
  position: relative;
  background: linear-gradient(to right, var(--color-principal), var(--color-paleta2));
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menuButton {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menuIcon {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.menuIcon:hover {
  font-size: 2.8rem;
  transform: rotate(2deg);
}
