.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  transition: grid-template-columns 0.4s ease;
}

@media (min-width: 1024px) {
  .container.withSidebar {
    /* En desktop el sidebar ocupa 300px fijos estructurales */
    grid-template-columns: 300px 1fr;
    gap: 0;
  }

  .container.withSidebar.collapsedSidebar {
    /* En desktop cuando esta colapsado ocupa 88px */
    grid-template-columns: 88px 1fr;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.logoContainer {
  position: absolute;
  display: grid;
  justify-content: center;
  z-index: 900;
  align-items: center;
  /* background-color: white; */
  width: 99px;
  height: 99px;
  right: 10px;
  top: 70px;
  border-radius: 9999px;
  /* border: 5px solid #facc15;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1); */
}

@media (min-width: 1024px) {
  .logoContainer {
    /* En desktop ajustar logo a la nueva cuadricula */
    right: 20px;
  }
}

.logoContainer img {
  filter: drop-shadow(0 0 10px rgba(250, 202, 130, 0.5));
}

.loader {
  display: grid;
  height: 100%;
  place-content: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}