:root {
  /* Colores principales */
  --color-azul-claro4: #3674B5;
  --color-azul-claro3: #578FCA;
  --color-azul-claro2: #A1E3F9;
  --color-azul-claro: #D1F8EF;
  --color-tercero: #3ABEF9;
  --color-quinto: #1D24CA;
  --color-secundario: #0a47c4;
  --color-cuarto: #A7E6FF;
  --color-graduado-blue-1: rgb(5,100,245);
  --color-pastel13: #d7ff61;
  --color-pastel2: #cafde6;
  --color-pastel5: #e1fdca;
  --color-beneficios: #77f9e2;
  --color-azul-oscuro: #002060;

  /* Gradiente */
  --gradient-start: #19246f;
  --gradient-end: #3572EF;

  --color-sexto: #1F6E8C;
  --color-principal: #163297;
  --color-background: #12235f;
  --color-paleta1: #042354;
  --color-paleta2: #0c367a;
  --color-paleta3: #f26e27;
  --color-paleta5: #df6726;
  --color-paleta7: #ffad81;
  --color-paleta4: #189646;
  --color-paleta6: #16a34a;
  
  /* Colores de la tabla de estándares */
  --tableEstandares6: #000957;
  --tableEstandares5: #FFF2DB;
  --tableEstandares4: #FFAB5B;
  --tableEstandares3: #00879E;
  --tableEstandares2: #577BC1;
  --tablaestandares1: #344CB7;

  /* Colores de gradientes */
  --graduado-blue-2: rgba(40,62,143,1);
  --graduado-blue-3: rgba(12,49,131,1);

  /* Colores de niveles */
  --tere: #47d07d;
  --iconColor: #624bff;
  --headerTable: #e4eefd;

  /* Colores de contenedores */
  --ggw-1: #47d07d;
  --gos-1: #f4b5d3;
  --pastel14: #f70c00;
} 