:root {
  --color-quinto: #1D24CA;
  --color-segundo: #3572EF;
  --color-tercero: #3ABEF9;
  --color-cuarto: #A7E6FF;
  --color-sexto: #1F6E8C;
  --color-principal: #163297;
  --color-secundario: #0a47c4;
  --color-paleta1: #042354;
  --color-paleta2: #0c367a;
  --color-paleta3: #f26e27;
  --color-paleta5: #df6726;
  --color-paleta4: #189646;
  --color-paleta6: #16a34a;
  
  
} 